{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body {
      background-color: #F6F2E6;
    }
  </style>
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        {% if request.user.company %}
          {% include 'company/mycompany-nav.html' %}
          {% endif %}
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>
              <h2 class="h4 pt-2 pb-3">{{ vacancy.specialty.code|capfirst }} {{ vacancy.title }}</h2>
         <!----     <p class="alert alert-info" role="alert">Вакансия обновлена</p> -->
              <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {{ form|crispy }}
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
               </form>
              <!-- END Vacancy info -->
              <!-- Applications -->
              <h2 class="h4 pt-2 pb-3">Отклики - 2</h2>
              <!-- Application 1 -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <p class="mb-1 font-weight-bold">Семёнов Зельфик Геннадиевич</p>
                  <p class="mb-2"><a href="tel:+79002842324" class="text-dark">+7 (900) 284-23-24</a></p>
                  <p class="mb-1">Я&nbsp;хотел&nbsp;бы работать в&nbsp;компании &laquo;АБВГД&raquo; программистом мобильных приложений. Мой опыт работы в&nbsp;программировании около 4&nbsp;лет (последние 1,5 года занимаюсь разработкой приложений.</p>
                </div>
              </div>
              <!-- END Application 1 -->
              <!-- END Applications -->
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}