{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body {
      background-color: #F6F2E6;
    }
  </style>
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        {% if request.user.company %}
          {% include 'company/mycompany-nav.html' %}
          {% endif %}
      </div>

      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>
              <h2 class="h4 pt-2 pb-3">Backend Middle/Senior</h2>
              <p class="alert alert-info" role="alert">Вакансия обновлена</p>
              <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {{ form|crispy }}
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
              <!-- END Vacancy info -->
              <!-- Applications -->
              <h2 class="h4 pt-2 pb-3">Отклики - 2</h2>
              <!-- Application 1 -->
              <div class="card-body mx-3">
              <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
              <div class="form-group">
                <label class="mb-1 mt-2" for="userName">Вас зовут</label>
                <input class="form-control" type="text" placeholder="" id="userName">
              </div>
              <div class="form-group">
                <label class="mb-1" for="userPhone">Ваш телефон</label>
                <input class="form-control" type="tel" placeholder="" id="userPhone">
              </div>
              <div class="form-group">
                <label class="mb-1" for="userMsg" >Сопроводительное письмо</label>
                <textarea class="form-control" rows="8" id="userMsg"></textarea>
              </div>
              <input type="submit" class="btn btn-primary mt-4 mb-2" value="Отправить">
            </div>

              <!-- END Application 1 -->
              <!-- END Applications -->
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}