{% extends 'base.html' %}


{% block content %}
<style>
    body {
      background-color: #F6F2E6;
    }
  </style>
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        {% if request.user.company %}
          {% include 'company/mycompany-nav.html' %}
          {% endif %}
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              <!-- vacancy state 1 -->
              <div class="card mt-3">{% for vacancy in vacancies %}
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">{% url 'detail_vacancy' vacancy as detail_vacancy_url %}
                      <a href="{{ detail_vacancy_url }}" class="mb-1">{{ vacancy.specialty.code|capfirst }}-{{ vacancy.title }}</a>
                      <p class="mb-1">{% url 'detail_vacancy' vacancy as detail_vacancy_url %}
                        <span class="mr-4">{{ vacancy.salary_max }}</span><a href="{{ detail_vacancy_url }}" class="text-info">{{ vacancy.applications.count }} отклика</a>
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right"> {% url 'mycompany_vacancy' vacancy as mycompany_vacancy_url %}
                      <a href="{{ mycompany_vacancy_url }}" class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>{% endfor %}
              <!-- END vacancy state 1 -->
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}